#name{
    font-size: 300%;
    /* font-size: 5.35vh; */
    /* width: 22.5%; */
    font-weight: bold;
    margin-left: 10%;
    width: 20%;
    color: rgb(63, 23, 63);
    text-align: center;
    border-bottom: 6px double rgba(255, 215, 0);
}

/*=================SPECIFY CSS AT 800 PX=============================*/
@media only screen and (max-width: 800px) {
    #name{
        font-size: 5vw;
        width: 33%;
        color: rgb(63, 23, 63);
        text-align: center;
        border-bottom: 6px double rgba(255, 215, 0);
        margin-left: 0%;
    }
}
/*=================SPECIFY CSS AT 500 PX=============================*/
@media only screen and (max-width: 500px) {
    #name{
        font-size: 7vw;
        width: 33%;
        color: rgb(63, 23, 63);
        text-align: center;
        border-bottom: 6px double rgba(255, 215, 0);
        margin-top: 15%;
        margin-left: 0%;
    }
}