


/*=================SPECIFY CSS AT 800 PX=============================*/
@media only screen and (max-width: 800px) {
    #paragraph{
        color: rgb(63, 23, 63);
        background-color: rgb(12, 207, 221, 0.5);
        padding: 10px;
        font-family: Arial;
        text-align: center;
        position: absolute;
        top: 35%;
        left: 40%;
        width: 50%;
        height: fit-content; 
        font-size: 3vh;
        border: 2px double gold;
        border-width: 5px;
        border-radius: 8px;
    }  
}

/*=================SPECIFY CSS AT 500 PX=============================*/
@media only screen and (max-width: 500px) {
    #paragraph{
        color: rgb(63, 23, 63);
        background-color: rgb(12, 207, 221, 0.5);
        padding: 10px;
        font-family: Arial;
        text-align: center;
        position: absolute;
        top: 35%;
        left: 40%;
        width: 50%;
        height: fit-content; 
        font-size: 2vw;
        border: 2px double gold;
        border-width: 5px;
        border-radius: 8px;
    }    
}