body{
    background-image: url('backgroundPhoto.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x:hidden;
}

/* =================SCROLL BAR BEGIN========================== */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px grey; 
   border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgba(219, 116, 154, 0.5); 
    box-shadow: inset 0 0 5px rgb(66, 15, 34, .5);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(219, 116, 154, .7);
    box-shadow: inset 0 0 5px rgb(66, 15, 34, .7);
  }
  /* ==================SCROLL BAR END========================= */

  /*=================SPECIFY CSS AT 875 PX=============================*/
@media only screen and (max-width: 875px) {
  body{
    background-image: url('backgroundPhoto.jpg');
    background-size: 100vw 150vh;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x:hidden;
}
}